@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>Our cafe provides coffee and food </h3>

<div class="row">
    <div class="col-md-4">
        <h2>HOT CHOCOLATE</h2>
        <img src="~/Image/hot_choco.jpg" style="width: 360px; height:250px" alt="Hot Chocolate" />
        <p>
            What says hot better than chocolate? If you want a combination of melted dark chocolate and milk foam,
            this one is for you. Sweet and warm, it will enchant those freezing winter days and those cold summer nights.
        </p>
    </div>

    <div class="col-md-4">
        <h2>ICED LATTE</h2>
        <img src="~/Image/ice_latte.jpg" style="width: 360px; height:250px" alt="Ice Latte" />
        <p>
            A grand classic prepared just right – unadorned and simple, allowing the purity of the ingredients to fully express themselves.
        </p>
    </div>

    <div class="col-md-4">
        <h2>LATTE MACCHIATO</h2>
        <img src="~/Image/latte_mac.jpg" style="width: 360px; height:250px" alt="Latte Macchiato" />
        <p>
            Latte Macchiato literally means spotted milk in Italian. The hot milk and creamy milk foam are imbued with the delicious flavour
            of coffee for a spectacular, sumptuous result. This will delight all gourmets!
        </p>
    </div>

    <div class="col-md-4">
        <h2>ESPRESSO MACCHIATO</h2>
        <img src="~/Image/espresso.jpg" style="width: 360px; height:250px" alt="Espresso" />
        <p>
            Give in to temptation with this essential gourmet Espresso. The combination of Espresso Grand Cru with a drop
            of milk in the centre creates an intensely smooth experience.
        </p>
    </div>

    <div class="col-md-4">
        <h2>ICED CARAMELITO</h2>
        <img src="~/Image/ice_cara.jpg" style="width: 360px; height:250px" alt="Iced Caramelito" />
        <p>
            Discover a great recipe and enjoy a superb Nespresso moment!
        </p>
    </div>

    <div class="col-md-4">
        <h2>GRANOLA</h2>
        <img src="~/Image/granola.jpg" style="width: 360px; height:250px" alt="Granola" />
        <p>
            Latte Macchiato literally means spotted milk in Italian. The hot milk and creamy milk foam are imbued with the delicious flavour
            of coffee for a spectacular, sumptuous result. This will delight all gourmets!
        </p>
    </div>

    <div class="col-md-4">
        <h2>CHICKEN & BACON</h2>
        <img src="~/Image/chick_bacon.jpg" style="width: 360px; height:250px" alt="Chicken & Bacon " />
        <p>
            On the one hand, rotisserie-style chicken. On the other, strips of Maple wood smoked bacon.
            All topped off with a tangy smooth ranch sauce.
        </p>
    </div>

    <div class="col-md-4">
        <h2>STEAK & CHEESE</h2>
        <img src="~/Image/st_cheese.jpg" style="width: 360px; height:250px" alt="Steak & Cheese" />
        <p>
            Hot, tender, 100% Canadian steak, served on the bread of your choice. 
            It's just bursting with flavour! Toast your bread to add even more great taste!
        </p>
    </div>

    <div class="col-md-4">
        <h2>TUNA</h2>
        <img src="~/Image/tuna.jpg" style="width: 360px; height:250px" alt="Tuna" />
        <p>
            Our tasty Tuna Sandwich is simply sumptuous. Made with flaked tuna, 
            mixed with mayo and your choice of fresh vegetables served on the bread of your choice.
        </p>
    </div>

    <div class="col-md-4">
        <h2>CHICKEN PICCATA</h2>
        <img src="~/Image/chicken_piccata.jpg" style="width: 360px; height:250px" alt="Chicken Piccata" />
        <p>
            Two chicken breasts sautéed in a lemon white wine butter sauce with capers, served with fettuccine alfredo.
            Salad or veggies may be substituted for pasta.
        </p>
    </div>

    <div class="col-md-4">
        <h2>SHRIMP PICCATA</h2>
        <img src="~/Image/shrimp_piccata.jpg" style="width: 360px; height:250px" alt="Shrimp Piccata" />
        <p>
            Ten tiger shrimp sautéed in a lemon white wine butter sauce with capers, served with fettuccine alfredo.
            Salad or veggies may be substituted for pasta.
        </p>
    </div>

    <div class="col-md-4">
        <h2>MEAT LASAGNA</h2>
        <img src="~/Image/meat_lasagna.jpg" style="width: 360px; height:250px" alt="Meat Lasagna" />
        <p>
            Layers of our four cheese blend (Mozzarella, Ricotta, Parmesan, and Romano) with seasoned ground beef,
            Italian sausage and marinara sauce between lasagna noodles.
        </p>
    </div>

    <div class="col-md-4">
        <h2>CHICKEN PARMIGIANA</h2>
        <img src="~/Image/chicken_parmigiana.jpg" style="width: 360px; height:250px" alt="Chicken Parmigiana" />
        <p>
            Two crispy breaded chicken breasts, topped with tomato sauce and mozzarella, served with penne marinara.
            Salad or veggies may be substituted for pasta.
        </p>
    </div>

    <div class="col-md-4">
        <h2>EGGPLANT PARMIGIANA</h2>
        <img src="~/Image/eggplant_parm.jpg" style="width: 360px; height:250px" alt="Eggplant Parmigiana" />
        <p>
            Baked eggplant layered with tomato sauce,  mozzarella and Romano cheese, served with penne marinara.
            Salad or veggies may be substituted for pasta.
        </p>
    </div>

    <div class="col-md-4">
        <h2>CAESAR SALAD</h2>
        <img src="~/Image/caesar_salad.jpg" style="width: 360px; height:250px" alt="Caesar Salad" />
        <p>
            Romaine and croutons tossed in our homemade dressing. Topped with Parmesan cheese.
        </p>
    </div>

</div>


