@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>

<img src="~/Image/cafe.jpg" style="width: 700px; height:400px" alt="Cafe" />

<address>
    Hong Kong<br />
    ABC, HA 36987-1234<br />
    <abbr title="Phone">Phone:</abbr>
    (852) 3549.3481
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:support@isad251cafe.com">support@isad251cafe.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:marketing@isad251cafe.com">marketing@isad251cafe.com</a>
</address>